<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KTU DeYas Panel</a>
        <button title="Navigation menu" class="navbar-toggler" />
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2" aria-hidden="true"></span> Ana Sayfa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="structures">
                <span class="bi bi-building me-2" aria-hidden="true"></span> Yapı Yönetimi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sensor-dashboard">
                <span class="bi bi-activity me-2" aria-hidden="true"></span> Sensör Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-shield-lock me-2" aria-hidden="true"></span> Giriş
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="http://localhost:5050" target="_blank">
                <span class="bi bi-globe me-2" aria-hidden="true"></span> Kullanıcı Portalı
            </a>
        </div>
    </nav>
</div>
